@font-face {
    font-family: 'PoppinsBold';
    src: url(../fonts/PoppinsBold.ttf);
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url(../fonts/PoppinsBold.ttf);
}
.left-content{
    font-family: 'PoppinsBold';
}
.right-content{
    font-family: 'PoppinsRegular';
}
